[Unit]
Description=Clowder Server

[Service]
Type=simple
WorkingDirectory=/opt/clowder
PIDFile=/opt/clowder/RUNNING_PID
ExecStart=/opt/clowder/bin/clowder -DMONGOUPDATE=1 -Dhttp.port=9000
User=clowder

[Install]
WantedBy=multi-user.target
